@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,300;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,300;1,400;1,600&display=swap");

h2,
h4 {
  color: #dc3545;
  font-family: "Bebas Neue";
  font-size: 30px;
  line-height: 30px;
  padding: 5px;
}

.tad {
  color: #dc3545;
  font-family: "Bebas Neue";
}

.accordion-button:not(.collapsed) {
  color: #fff;
  font-family: "Bebas Neue";
}

.title {
  color: #dc3545;
  font-family: "Bebas Neue";
  padding: 30px;
}
/* in navbar */
.navbar a {
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.navbar a:hover {
  color: #dc3545;
}
.navbar a:focus {
  color: #dc3545;
}

/* end navbar */

/* footer */
.footer P {
  color: #fff;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.footer a {
  color: #fff;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  margin: 5px;
}
.icon a {
  color: #fff;
  margin-right: 10px;
}

.icon p {
  color: #fff;
  margin-right: 10px;
}
.line {
  width: 250px;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
/* END NAV */

/* about */

#about {
  padding: 20px;
}

/* card */
.card-title {
  color: #dc3545;
  font-family: "Bebas Neue";
}

.accordion-button:not(.collapsed) {
  background-color: #dc3545;
}
/* icon */
.icon img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  border: 3px solid #dc3545;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 7px;
}
/* contect*/

.contact1-pic {
  width: 296px;
}

.contact1-pic img {
  max-width: 100%;
}

.logo {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-image: none;
}

.box {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0%;
}

.form-control {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid black;
  border-radius: 0px;
}
.form-control:focus {
  border-color: #dc3545;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.hidden-img {
  display: block; /* or any other default styles */
}
@media only screen and (max-width: 767px) {
  .hidden-img {
    display: none;
  }
}
